In [1]:
import pandas as pd
from math import log
docs = [
    '먹고 싶은 사과',
  '먹고 싶은 바나나',
  '길고 노란 바나나 바나나',
  '저는 과일이 좋아요'
]
vocab = list(set(w for doc in docs for w in doc.split()))
vocab

['바나나', '저는', '과일이', '먹고', '길고', '사과', '싶은', '좋아요', '노란']

In [2]:
N = len(docs)
def tf(t, d):
    return d.count(t)
def idf(t):
    df = 0
    for doc in docs:
        df += t in doc # 특정 단어 t가 들어있는 문서 수. for문을 돌면서 doc안에 t가 있으면 df에 +1
    return log(N/(df+1))
def tfidf(t, d):
    return tf(t, d) * idf(t)

In [3]:
result = []
for i in range(N):
    result.append([])
    d = docs[i]
    for j in range(len(vocab)):
        t = vocab[j]
        result[-1].append(tf(t, d))
tf_ = pd.DataFrame(result, columns = vocab)

In [4]:
tf_

   바나나  저는  과일이  먹고  길고  사과  싶은  좋아요  노란
0    0   0    0   1   0   1   1    0   0
1    1   0    0   1   0   0   1    0   0
2    2   0    0   0   1   0   0    0   1
3    0   1    1   0   0   0   0    1   0

In [7]:
result = []
for i in range(len(vocab)):
    t = vocab[i]
    result.append(idf(t))

idf_ = pd.DataFrame(result, index = vocab, columns = ["IDF"])

In [8]:
idf_

          IDF
바나나  0.287682
저는   0.693147
과일이  0.693147
먹고   0.287682
길고   0.693147
사과   0.693147
싶은   0.287682
좋아요  0.693147
노란   0.693147

In [9]:
result = []
for i in range(N):
    result.append([])
    d = docs[i]
    for j in range(len(vocab)):
        t = vocab[j]
        result[-1].append(tfidf(t, d))
tfidf_matrix = pd.DataFrame(result, columns = vocab)
tfidf_matrix

,바나나,저는,과일이,먹고,길고,사과,싶은,좋아요,노란
0,0.000000,0.000000,0.000000,0.287682,0.000000,0.693147,0.287682,0.000000,0.000000
1,0.287682,0.000000,0.000000,0.287682,0.000000,0.000000,0.287682,0.000000,0.000000
2,0.575364,0.000000,0.000000,0.000000,0.693147,0.000000,0.000000,0.000000,0.693147
3,0.000000,0.693147,0.693147,0.000000,0.000000,0.000000,0.000000,0.693147,0.000000

In [10]:
from sklearn.feature_extraction.text import CountVectorizer
corpus = [
    'you know I want your love',
    'I like you',
    'what should I do ',    
]
vector = CountVectorizer()
print(vector.fit_transform(corpus).toarray())
print(vector.vocabulary_)

[[0 1 0 1 0 1 0 1 1]
 [0 0 1 0 0 0 0 1 0]
 [1 0 0 0 1 0 1 0 0]]
{'you': 7, 'know': 1, 'want': 5, 'your': 8, 'love': 3, 'like': 2, 'what': 6, 'should': 4, 'do': 0}

In [12]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidfv = TfidfVectorizer().fit(corpus)
print(tfidfv.transform(corpus).toarray())
print(tfidfv.vocabulary_)

[[0.         0.46735098 0.         0.46735098 0.         0.46735098
  0.         0.35543247 0.46735098]
 [0.         0.         0.79596054 0.         0.         0.
  0.         0.60534851 0.        ]
 [0.57735027 0.         0.         0.         0.57735027 0.
  0.57735027 0.         0.        ]]
{'you': 7, 'know': 1, 'want': 5, 'your': 8, 'love': 3, 'like': 2, 'what': 6, 'should': 4, 'do': 0}